*{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

body{

}

ul{
  background-color: dodgerblue;
  line-height: 45px;
  padding: 0px;
  margin: 0;
}

ul>li{
    display: inline-block;
    width: 49.5%;
    text-align: center;
    color: white;
}

ul>li:hover{
  cursor: pointer;
  font-size: 20px;
  color: orange;
}


