*{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

ul>li{
    display: inline-block;
    width: 32%;
    text-align: center;
}

a{
    list-style-type: none;
    text-decoration: none;
}