<div>
  Users Listing

  <label>
    Search User By name :
    <input type="text" [(ngModel)]="term">
  </label>
  <ul id="users-list">
    <li *ngFor="let user of users | filter:term">
      <span [ngStyle]="{background: user.color}">&nbsp; &nbsp; &nbsp; &nbsp; </span>
      &nbsp;
      &nbsp;
      {{ user.name | uppercase }}
    </li>
  </ul>

  <div>
    <label>Name :
      <input type="text"  [(ngModel)]="name">
    </label><br>
    <br>
    <label>Color :
      <input type="text"  [(ngModel)]="color">
    </label><br>
    <br>
    <button (click)="addDataToFirebase()">Add</button>
  </div>
</div>
